name: Update stats

on:
  workflow_dispatch: # Allows manual triggering from the web interface
  schedule:
    - cron: '0 2 * * *' # Runs the workflow daily at 2 AM

jobs:
  run-update-stats:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    env:
      PYTHONUNBUFFERED: 1  # Enable python unbuffered output

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.13'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Update trees data CSV
      run: python 01_get_trees_data.py

    - name: Update diagrams
      run: python 02_draw_diagrams.py

    - name: Get the current date
      run: echo "current_date=$(date +'%Y-%m-%d')" >> $GITHUB_ENV

    - name: Commit changes
      uses: stefanzweifel/git-auto-commit-action@v5
      with:
        commit_message: "Update stats ${{ env.current_date }}"
